<header>
  <nav role="navigation" class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">IB2B</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/getting-started">GETTING STARTED</a>
        </li>
        <li>
          <a href="/faq">FAQ</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/drewstewart/nbn-jbake/" target="_blank">FORK ME ON GITHUB</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
