-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color: #fff;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.45px;
  color: #333;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

#hero {
  margin: 0;
  padding: 120px 0 120px;
  min-height: 500px;
  
  /*background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #161924), color-stop(100%, #2F3544));
  background-image: -moz-linear-gradient(left, #161924, #2F3544);
  background-image: gradient(linear, left bottom, right top, color-stop(0%, #161924), color-stop(100%, #2F3544));
  background-color: #161924;*/
  /*background-color: #00a1e0;*/
  background-color: #113F51;
  color: #fff;
}

#hero h1, .page-header h1 {
  font-size: 65px;
}

#hero h1 {
  text-align: center;
  font-weight: 100;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

.hero-text {
  margin-top: 4em;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.btn-info-alt {
  color: #fff;
  background-color: transparent;
  border-color: #00a1e0;
  border-radius: 1px;
  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-info-alt:hover {
  color: #fff;
  background-color: rgba(255,255,255,0.2);
}

/* Nav menu fixed to top of page */
header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 10px;
  background-color: #113F51;
}

/* Customise bootstrap defaults */
.navbar {
  border: none;
  z-index: 100;
  margin-bottom: 0;
}

.nav > li > a {
  color: #00a1e0;
  padding: 9px 0 3px;
  margin: 0 10px;
}

.nav > li > a:focus, .nav > li > a:hover {
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #00a1e0;
}

.navbar > .container .navbar-brand {
  height: auto;
  padding: 5px 10px 5px 0;
  margin-left: 0;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.navbar-brand:hover {
  color: #fff;
}

a.link-block {
  text-decoration: none;
}

a.link-block > div {
  border: 1px solid #00a1e0;
  border-radius: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333;
}

a.link-block > div:hover {
  background-color: rgba(0,161,224,0.2);
  cursor: pointer;
}